*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(black,rgb(101, 84, 84));
    /* background-color: #1a1616; */
    background-size: cover;
}
.container{
    height: 100vh;
    /* margin-top: 0%; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    width: 500px;
    height: 550px;
    /* width: 100%; */
    /* max-width: 100%; */
    position: relative;
    border: 2px solid white;
    border-radius: 15px;
    box-shadow: inset 0px 1px 30px 5px rgba(212, 197, 197, 0.696)
                , 10px 10px 22px 5px rgba(212, 197, 197, 0.696)  ;
    
    
}
.inside-box {
    position: absolute;
    left: 15%;
    top: 20%;
}
h2{
    font-size: 25px;
    position: absolute;
    left: 10%; 
    width: 80%; 
    height: 35px; 
    text-align: center;
    /* padding: 10px ; */
    background-color:rgb(187, 163, 163) ;
    color: white;
    border: 3px solid transparent; 
    border-radius: 0 0 20px 20px; 
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    
}
.box .input{
    width: 80%;
    height: 50px;
    padding: 0 15px;
    border-radius: 10px;
    background-color: transparent;
    outline: none;
    color: white;
    border: 2px solid white;
    font-size: 15px;
    margin-bottom:20px ;
}
.box .input::placeholder
{
    color: rgba(255, 255, 255, 0.637);
}
input:hover::placeholder{
    letter-spacing: 4px;
    transition: .5s;
}

#eye{
    font-size: 25px;
    outline: none; 
    background-color: transparent;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 60%;
    left: 75%;
    border: none;

}
.forget{
   position: absolute;
   top:105%;
   left: 50%;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.forget:hover{
    color: rgb(9, 89, 164);
    /* transition: .s; */
}
a {
    text-decoration: none;
    color: rgb(212, 197, 197);
    filter: brightness(15);
}
#text{
    position: absolute;
    left: 15px;
    top: 100%;
    line-height: 30px;
    color: white;
    font-size: 15px;
    display: none;
}
.roles{
    position: absolute;
    top: 125%;
    left: 30px;
    line-height: 30px;
    
    
}
.roles p{
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: 16px;
}
.roles p span{
    padding: 0 10px;
    transition:.4s;
    margin-left: -35PX;
    font-size: 20px;
}
.btn{
    position: absolute;
    top: 250%;
    left: 15%;
    width: 60%;
    height: 50px;
    padding: 0 15px;
    border-radius: 10px;
    background-color: transparent;
    outline: none;
    color: white;
    border: 2px solid white;
    font-size: 20px;
    margin-bottom:5px ;
    cursor: pointer;
}
.btn:hover{
    background-color:  rgb(139, 123, 123);
    color: white;
    letter-spacing: 1.5px;
    transition: .5s;
}